{% load i18n %}
<div class="icon-option" title="{% trans "Papka" %}">
    <i class="fas fa-folder"></i>
</div>
<div class="icon-option" title="{% trans "Oziq-ovqat" %}">
    <i class="fas fa-utensils"></i>
</div>
<div class="icon-option" title="{% trans "Transport" %}">
    <i class="fas fa-car"></i>
</div>
<div class="icon-option" title="{% trans "Uy-joy" %}">
    <i class="fas fa-home"></i>
</div>
<div class="icon-option" title="{% trans "Kommunal to'lovlar" %}">
    <i class="fas fa-bolt"></i>
</div>
<div class="icon-option" title="{% trans "Kiyim" %}">
    <i class="fas fa-tshirt"></i>
</div>
<div class="icon-option" title="{% trans "Sog'liq" %}">
    <i class="fas fa-heartbeat"></i>
</div>
<div class="icon-option" title="{% trans "Ta'lim" %}">
    <i class="fas fa-graduation-cap"></i>
</div>
<div class="icon-option" title="{% trans "Ko'ngilochar" %}">
    <i class="fas fa-film"></i>
</div>
<div class="icon-option" title="{% trans "Internet" %}">
    <i class="fas fa-wifi"></i>
</div>
<div class="icon-option" title="{% trans "Telefon" %}">
    <i class="fas fa-mobile-alt"></i>
</div>
<div class="icon-option" title="{% trans "Sayohat" %}">
    <i class="fas fa-plane"></i>
</div>
<div class="icon-option" title="{% trans "Suv" %}">
    <i class="fas fa-tint"></i>
</div>
<div class="icon-option" title="{% trans "Gaz" %}">
    <i class="fas fa-fire"></i>
</div>
<div class="icon-option" title="{% trans "Elektronika" %}">
    <i class="fas fa-laptop"></i>
</div>
<div class="icon-option" title="{% trans "Kitob" %}">
    <i class="fas fa-book"></i>
</div>
<div class="icon-option" title="{% trans "Sport" %}">
    <i class="fas fa-dumbbell"></i>
</div>
<div class="icon-option" title="{% trans "Go'zallik" %}">
    <i class="fas fa-spa"></i>
</div>
<div class="icon-option" title="{% trans "Sovg'a" %}">
    <i class="fas fa-gift"></i>
</div>
<div class="icon-option" title="{% trans "Boshqa" %}">
    <i class="fas fa-ellipsis-h"></i>
</div>